* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    font-weight: 600;
    background-color: antiquewhite
}

h1 {
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: xx-large
}

form {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:large
}

button {
    font-size: large
}

table{
    margin-left: auto;
    margin-right: auto;
}